{require_otp_vsn, "R1[456]|17|18"}.
{port_sources, ["c_src/*.cpp"]}.
{so_name, "erlang_murmurhash_nif.so"}.
{erl_opts, [debug_info]}.

{port_env, [
    {"CXXFLAGS", "$CXXFLAGS -W -Wall -O3"},
    {"LDFLAGS", "$LDFLAGS -lstdc++"}
]}.

{port_specs, [
    {"priv/erlang_murmurhash_nif.so", ["c_src/*.cpp"]}
]}.
